.c-customer{
  background: $color_palette_1;
  padding: $space_default;
  margin: $space_default 0;
  &__img{
    width: 110px;
    height: 110px;
    border-radius: 50%;
  }
  &__title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    &-txt{
      color: $color_accent;
      font-size: $font-size_l;
      width: 70%;
      margin: 0 auto;
    }
  }
}
